
.titulo{
	margin-bottom: 100px;
	font-weight: 300;
	color: #7a7a7a;
	text-align: center;
	width: 33%;
	max-width: 800px;
	text-align: center;
	padding: 40px;
	margin:auto;
	margin-top: 5px;
	background:white;
	border-radius: 20px;
	width: 100%;
	max-width: 1000px;

}		


.container-all{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	border-radius: 10px;
	overflow:hidden;
}

.cnt-form{
	width: 80%;
	padding: 40px;
	background: #ffffff; 
}

.logo{
	width: 150px;
	display: block;
	margin: auto;
}

.title{
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	color: #7a7a7a;
	webkit-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;
}
.menu{
	list-style: none;
	padding: 0;
	background: #06838C;
	width: auto;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	border-radius: 20px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #1FC4D1;
}

.container{
	background-color: white;
	border-radius: 1000px;

}

