*{box-sizing:border-box;}

		.container4{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:200px;
			position:fixed;
			top:50px;
			right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}



.ctn-text22{
	width: 100%;
	background-image: url(../img/texto.png);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}		




.cnt-form-log{
	background-position: center;
	position: 50%
	width: 80%;
	padding: 40px;
	background: #ffffff; 
	border-radius: 5%;
}

.fa{
	size: 50%;
}

.social{

	size: 200px;
}


.capa-slider{
	width: 100%;
	background-image: url(../img/blanco.PNG);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}