.footer{

    background-color: #06838C;
    padding: 10px 0;
    padding-top: 60px;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1FC4D1;
    height: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 55px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}

.container-fot{
    max-width: 1170px;
    margin: auto;
}

.row-fot{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.sitio_des{
    text-align: center;
    font-size: 20px;
    color: #09aab6;
    padding: 20px;
    display: block;
}
}

.divsitio{

    text-decoration: none;
    background-color: #09aab6;
    padding: 20px;
    display: block;


}

@media(max-width: 767px){
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


.ctn-text28{
	width: 100%;
	background-image: url(../img/cosas.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}
----------------------------------------

.content .gallery-carousel {
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
}


.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}






---------------------------------
<<--


element.style {
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


element.style {
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


element.style {
}
ol.carousel-indicators {
}
.carousel-indicators {
    margin-right: auto;
    margin-left: auto;
    /* bottom: 120px; */
    justify-content: start;
    padding: 0 15px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


element.style {
}
.carousel-indicators li {
    background-color: #00a7d3;
    margin-right: 10px;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    /* height: 3px; */
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    /* background-clip: padding-box; */
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    /* opacity: .5; */
    /* transition: opacity .6s ease; */
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
user agent stylesheet
ol {
    list-style-type: decimal;
}


element.style {
}
ol.carousel-indicators {
}
.carousel-indicators {
    margin-right: auto;
    margin-left: auto;
    /* bottom: 120px; */
    justify-content: start;
    padding: 0 15px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


-------------------------------------------------

.container-all{
  margin: auto;
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu1{
  text-align: center;
  margin: auto;
}

.menu1 li{
  display: inline-block;
  text-align: center;
}

.menu1 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}



