@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

body{
	background: linear-gradient(90deg, #08877f, #00FFFF, #0af5e5);
	padding:20px;
}


.menu{
	list-style: none;
	padding: 0;
	background: #06838C;
	width: auto;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	border-radius: 20px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #1FC4D1;
}

[type="date"] {
	background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

/* custom styles */
body {
	padding: 4em;
	font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
	display: block;
}
input {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #fff;
	padding: 3px 5px;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
	width: 190px;
}



.titulo{
	margin-bottom: 100px;
	font-weight: 300;
	color: #7a7a7a;
	text-align: center;
	width: 33%;
	max-width: 800px;
	text-align: center;
	padding: 40px;
	margin:auto;
	margin-top: 5px;
	background:white;
	border-radius: 20px;
	width: 100%;
	max-width: 1000px;

}		




.container-all{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	border-radius: 10px;
	overflow:hidden;
}

.cnt-form{
	width: 80%;
	padding: 40px;
	background: #ffffff; 
}

.logo{
	width: 150px;
	display: block;
	margin: auto;
}

.title{
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	color: #7a7a7a;
	webkit-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;
}

label{
	display: block;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 300;
	color: #7a7a7a
}

input[type="text"], input[type="password"]{
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0);
	border:0px;
	outline: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	color: #E30F87;
	font-size: 16px;

}

input[type="submit"]{
	width: 100%;
	height: 50px;
	margin-top: 60px;
	color: white;
	border: 0px;
	background: linear-gradient(90deg, #08877f, #00FFFF, #0af5e5);
	font-weight: 300;
	cursor: pointer;
	font-size: 18px;

}

input[type="submit"]:hover{
	background: linear-gradient(90deg, #0af5e5, #08877f);
}

.text-footer{
	display: block;
	margin-top: 100px;
	text-align: center;
	color: #172CE2;
	font-weight: 500;
	background-color: #172CE2;
	.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
}

.text-footer a{
	color: #172CE2;
	font-weight: 500;
	background-color: #172CE2;
}

.titulo-footer{
	color: #172CE2;
	margin-top: 50px;
}


/*lado derecho*/
.ctn-text8{

	background-image: url(../img/cositas.png);}
}

.ctn-text28{
	width: 100%;
	background-image: url(../img/cositas.png);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}

.ctn-text2{
	width: 100%;
	background-image: url(../img/direccion.png);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}


.ctn-text3{
	width: 100%;
	background-image: url(../img/blanquemiento.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}


.ctn-text{
	width: 100%;
	background-image: url(../img/dentista.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}

.titu{
	position: center;
	top: 80px;
	color: #07656B;
	font-weight: 700;
	font-size: 60px;
    webkit-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;	
}


.title-description{
	position: center;
	top: 80px;
	color: #06ABAB;
	font-weight: 700;
	font-size: 50px;
    webkit-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;	
}

.text-description{
	position: center;
	top: 110px;
	color: #557DB0;
	font-weight: 500;
	font-size: 50px;
}


.submit1{
	width: 100%;
	height: 50px;
	margin-top: 60px;
	color: white;
	border: 0px;
	background: linear-gradient(90deg, #08877f, #00FFFF, #0af5e5);
	font-weight: 300;
	cursor: pointer;
	font-size: 18px;
}


/*textode error*/
.msg-error{
	color: red;
	display: block;
	margin-top: 10px;
}

/*bienvenida*/

.ctn-welcome{
	width: 100%;
	max-width: 800px;
	text-align: center;
	padding: 40px;
	margin:auto;
	margin-top: 100px;
	background:white;
	border-radius: 20px;

}

.logo-welcome{
	width: 200px;
	margin: 20px;
}


.title-welcome{
	font-weight: 400;
	font-size: 40px;
	margin-top: 20px;
}

.calendario{
	width: 100%;
	max-width: 600px;
	margin:auto;
	display: block;
	padding: 20px;
	margin-top: 40px;
	background: linear-gradient(90deg, #0af5e5, #08877f);
	color: white;
	font-size:20px;
	font-weight: 300;

}


.modificarHora{
	width: 100%;
	max-width: 600px;
	margin:auto;
	display: block;
	padding: 20px;
	margin-top: 40px;
	background: linear-gradient(90deg, #0af5e5, #08877f);
	color: white;
	font-size:20px;
	font-weight: 300;

}

.cancelaHora{
	width: 100%;
	max-width: 600px;
	margin:auto;
	display: block;
	padding: 20px;
	margin-top: 40px;
	background: linear-gradient(90deg, #0af5e5, #08877f);
	color: white;
	font-size:20px;
	font-weight: 300;

}

.close-sesion{
	width: 100%;
	max-width: 600px;
	margin:auto;
	display: block;
	padding: 20px;
	margin-top: 40px;
	background: linear-gradient(90deg, #0af5e5, #08877f);
	color: white;
	font-size:20px;
	font-weight: 300;
}

.close-sesion:hover{
	background: linear-gradient(90deg, #0af5e5, #08877f);
}


/*responsive*/
@media screen and (max-width: 800px){
	.ctn-text{
		display: none;
	}
	.ctn-form{
		margin: auto;
		width: 100%;
		background: white;
	}
}



@media(max-width:1285px){
	.canales{
		width:100%;
		height:auto;
		overflow:hidden;
		background-color:#fff;
		top:auto;
		bottom:0;
		-webkit-box-shadow: 0px -11px 19px -7px rgba(153,153,153,0.57);
		-moz-box-shadow: 0px -11px 19px -7px rgba(153,153,153,0.57);
		box-shadow: 0px -11px 19px -7px rgba(153,153,153,0.57);}
	.canales .mensaje{
		display:block;
		width:40%;
		position:absolute;
		left:0;
		top:0;
		padding:10px 15px;
		font-size:20px;
		line-height:40px;
		color:#c00;
		text-align:center;}
	.msjClose{
		padding:10px;
		display:none;}
	.canales ul{
		margin:10px 10px 10px 50%;
		height:auto;
		overflow:hidden;}
	.canales ul li{
		float:left;
		margin-right:10px;
		margin-bottom:0;}
	.p7{
		padding-bottom:60px;}
}

*{box-sizing:border-box;}

		.container4{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:128px;
			position:fixed;
			top:50px;
			right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-300px;
		}




