.capa-slider{
	width: 100%;
	background-image: url(../img/blanco.PNG);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}



.cnt-form1{
	width: 80%;
	padding: 40px;
	background: #ffffff;	
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 33px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}

.ctn-text30{
	width: 100%;
	background-image: url(../img/qr.PNG);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}


.stylesheet{
	position: relative;
}

.ctn-text222{
	width: 100%;
	background-image: url(../img/orto.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}

.ctn-text223{
	width: 100%;
	background-image: url(../img/vanguardia1.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}


.ctn-text224{
	width: 100%;
	background-image: url(../img/endo.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}

.ctn-text225{
	width: 100%;
	background-image: url(../img/what2.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px;
	position: relative;

}



.text-description1{
	position: center;
	top: 150px;
	color: #557DB0;
	font-weight: 500;
	font-size: 30px;
}

 